.Navbar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #05a608;
}
.Navbar .logo{
    width: 300px;
    height: 40px;
    margin-left: 20px;
    background: #05a608;
}
@media(max-width: 425px){
    .Navbar{
     width: 768px;
    }
 }
 @media(max-width: 375px){
   .Navbar{
    width: 768px;
   }
 }
 @media(max-width: 768px){
    .Navbar{
     width: 768px;
    }
  }
 
 