.trailer{
     margin-top: 20px;
     margin-left: 20px;
     margin-bottom: 30px;
     width: 750px;
     height: 450px;
}
.block1{
     background: #3c3c3c;
     width: 100%;
}
.title{
     
     margin-top: 40px;
     margin-left: 60px;
     color: #fdf8f8;
     font-style: italic;
}
.block2{
     display: flex;
}
.para{
     color: #fdf8f8;
     margin-top: 10px;
     margin-left: 65px;
     margin-right: 40px;
     
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-style: italic;
}
.block3{
     display: block;
}
@media(max-width: 1024px){
     .trailer{
        margin-left: 60px;
        margin-bottom: 5px;
        width: 700px;
        height: 450px;
     }
     .block2{
           display: block;
          
     }
   }
@media(max-width: 768px){
  .trailer{
     margin-left: 30px;
     margin-bottom: 5px;
     width: 700px;
     height: 400px;
  }
  .block1{
     width: 768px;
  }
  .block2{
        display: block;
       
  }
}

@media(max-width: 425px){
     .trailer{
        margin-left: 30px;
        margin-bottom: 5px;
        margin-right: 5px;
        width: 700px;
        height: 500px;
     }
     .block1{
           width: 768px;
           
     }
   }
@media(max-width: 375px){
     .trailer{
        margin-left: 30px;
        margin-bottom: 5px;
        margin-right: 5px;
        width: 700px;
        height: 500px;
     }
     .block1{
           width: 768px;
           
     }
   }

.col1{
     display: flex;
     margin: 0px;
     background: #2b2a2a;
}
.img{
     margin: 10px;
     height: 150px;
     width: 250px;
     margin-left: 30px;
}
.container1{
    background: #2b2a2a;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
li{
     list-style: none;
 }
.head{
   color: #fdf8f8;
   margin-left: 30px;
   
}
.content{
     color: #fdf8f8;
     padding: 50px;
     padding-top: 10px;
}
.head2{
     color: #fdf8f8;
     display: flex;
     margin-left: 200px;
}
.header{
     display: flex;
}
@media(max-width: 768px){
     .container1{
        width: 768px;
     }
     
   }

